<application xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="WrongManifestParent" />
    ... >

<activity android:name=".SearchActivity" />
<activity android:name=".AddExpenseActivity" />
<activity android:name=".DashboardActivity" />
<activity android:name=".RegisterActivity" />
<activity android:name=".LoginActivity">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>

    </application>
